
html,
container{
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

#map {
    float:right;
    margin-left: auto;
    height: 100%;
    width:80%;

    
}

#navbar{
    float:left;
    height: 100%;
    width: 20%;
    background-color: #191970;
    font-size: 20px;
    color:white;
    margin-right: auto
}

#navbar form{
    padding:10px;
}

#pop-up{
    margin:auto;
    display:block;
}